



* {
    box-sizing: border-box;
    text-decoration: none;
      color: rgb(49, 50, 64);


}



body{
  background-color:rgb(138, 215, 76);
font-family: 'Niramit', sans-serif;
  text-align: center;
  color: rgb(49, 50, 64);
  text-decoration: initial;
  margin:auto;
}

h1{
  padding-top: 150px;
  font-size: 60px;
  margin-top: -90px;
}

h2{
  font-size: 40px;
}

h3{
  font-size: 28px;
}

#items{
  font-family: 'Gloria Hallelujah', cursive;
  position:absolute;
  filter:opacity(90%);
  top:20%;
  padding-bottom: 0px;
  text-align: center;
  left:10%;
  right:10%;
  background-color:rgb(138, 215, 76);
}
#text{
  filter:opacity(100%);
}

.button_style{


    border-radius: 60px;
    font-family: 'Gloria Hallelujah', cursive;
    width: 240px;
    height: 50px;
    font-size: 24px;
    background-color:rgb(220, 228, 178);
    text-decoration:none;





}
